<div class="container block-content-20 banner3" >
    <!-- <a href="/helio-introduction/" target="_blank"><img src="{{ STATIC_URL }}assets/websites/images/download-app_banner.png" width="100%"></a> -->
    <div class="download-app">
        <a href="https://itunes.apple.com/us/app/helio-center/id1259817229?mt=8" class="app-ios" target="_blank"></a>
        <a href="https://play.google.com/store/apps/details?id=vn.vooc.helio.mobile" class="app-android" target="_blank"></a>
    </div>

</div>

<footer id="footer-wrapper">
    <div class="container">
        this is footer
            
    </div>
</footer>